html,
body {
  height: 100%;
}

body {
  text-align: center;
  background-image: url("../images/donut.jpg");
}

#wrapper {
  width: 960px;
  /* height: 95%; */
  padding-bottom: 15px;
  box-sizing: border-box;
  margin: 2.5% auto;
  border-radius: 15px;
  background-color:rgba(10, 186, 181, 0.7)
}

.game-title {
  margin-bottom: 10px;
}

#sub-wrapper {
  position: relative;
  top: 15%;
}

button {
  display: inline-block;
  width: 40%;
  height: 20%;
  margin: 0 auto;
  font-size: 42px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

img {
  height: 200px;
}

h1 {
  padding-top: 2.5%;
  font-family: Geo, sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  color: black;
}

h2 {
  margin-bottom: 25px;
  font-size: 35px;
}

h3 {
  margin-bottom: 10px;
  font-size: 15px;
}

#start {
  margin-top: 10%;
  background: purple;
  border: 2px solid blue;
}

button:hover {
  background: purple;
  border: 2px solid blue;
}
